body {
background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 46%, rgba(43,4,56,1) 81%, rgba(98,36,120,1) 100%);
font-family: 'Poppins', sans-serif;
}

h1 {
    color: #f8f7f9;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.wrapper{
    max-width: 1440px;
    height: 100vh;
    margin: 0px auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #efe3de;
    border-radius: 14 px;
    box-shadow: 8px 14px 14px 5px rgba(49,152,196,0.35);
}

.header{
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    padding: 0 15px;
}

.header__row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header__logo{
    width: 60px;
    height: 60 px;
    margin-top: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header__title p{
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 20px 10px;
}

.header__menu{
    width: calc(50%-64px);
    flex-direction: row;
    display: flex;
    margin: 0 15px;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu__list{
    list-style: none;
    display: flex;
}

.menu__list li{
    margin-left: 50px;
}

.menu__link{
    color: #f8f7f9;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.navbar-container__devider{
    margin: 0 64px;
    padding: 10 px;
}

.navbar-container__devider span {
    color: #f8f7f9;
}

.navbar-container__socials{
    margin-right: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instagram{
    margin-right: 50px;
}

.page{
    display: flex;
    width: 100%;
    padding: 0px;
    margin-top: 5vh;
}

.container__block{
    display: flex;
    flex: 1;
}

.col-left{
    flex: 1;
    z-index: 10;
    padding: 10px;
    text-align: left;
    margin-left: 80px;
}

.title-welcome p{
    color: #f8f7f9;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text-main{
    margin-top: 20px;
}

.text-wrapper{
    margin-top: 36px;
}

.text-wrapper p {
    color: rgba(248, 247, 249, 0.5);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container-action{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 490px;
    height: auto;
}

.container-action p{
    color: rgba(248, 247, 249, 0.5);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.container-input{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px auto;
    border-radius: 4px;
}

.container__form{
    margin: auto;
    width: 200px;
}

.container-btn{
    border-radius: 16px;
    width: 301px;
    height: 68px;
    border: 2px solid #F8F7F9;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    padding: 16px 32px;
    align-items: center;
    justify-content: center;
    margin: 16px auto;
}

.container-btn p{
    color: #f8f7f9;
    font-size: 24px;
    text-align: center;
    margin: 0px 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.col-right{
    flex: 1;
}

